.register {
     margin: 0.666666rem 0.266666rem 0;
    .submit {
        margin-top: 1.2rem;
        text-align: center;
        button {
            height: 1.2rem;
            width: 80%;
        }
    }
}
