
datalist {
    margin: 10px;
    padding: 20px;
}
h2 {
    padding: 40px 0 0 20px;
    font-size: 50px;
}
summary {
    line-height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}
li {
    display: block;
    margin-top: 10px;
    padding-left: 40px;
}
.char {
    color: blue;
    padding: 0 5px;
}
